.title {
    width: 80%;
    margin: 0 auto;
    background-color: rgba(229, 229, 229, 0.512);
    box-shadow: 10px 10px 3px 1px #0000001f;
    font-size: 30px;
    text-align: center;
}

img {
    width: 400px;
    height: 100%;
}

.title span {
    display: block;
}